/*------------------------------------------------------------------------------
	WEB : page design
------------------------------------------------------------------------------*/



/*==============================
	Layout
==============================*/

/* Wrapper */
.wrapper {
	/* min-height: 100vh; */
	margin: 0 5vw 0 5vw;
	padding: 1px;

}

/* Map */
#map {
	height: 90vh;
	background-color: grey;
}



/*==============================
	Style
==============================*/

/* Set font */
* {
	font-family: "Open Sans", "Arial", "Helvetica", Palatino, sans-serif;
	font-size: 1.5vw;
	color: #555555;
}

/* Body */
body {
	background-color: #f6f6f6;
}

/* Section */
section {
	margin-top: 1.5vw;
	padding: 1.5vw 4vw;
	border: solid 1px #e6e6e6;
	border-radius: 3px;
	box-shadow: 1px 1px 2px #e6e6e6aa;
	background-color: #ffffff;
}

/* Article */
article, ul, ol {
	margin: 1.5vw 0;
	padding: 1.5vw 4vw;
	border-left: solid 1px #00002211;
	border-radius: 0 3px 3px 0;
	box-shadow: 0 0 1px #bbbbcc44;
	background-color: #bbbbcc11;
}

/* Lists */
ul {
}
li {
	margin: 5px 0;
}

/* Links */
a, a:visited {
	/* color: #419bf9; */
	color: #5599ff;
	text-decoration: none;
}
a:hover {
	color: #80b3ff;
}
a:active {
	color: #aaccff;
}

/* Titles */
h1, h2, h3, h4, h5, h6 {
	font-family: "ZCOOL QingKe HuangYou", "Arial", "Helvetica", Palatino, sans-serif;
	font-weight: bolder;
}
h1 {
	font-size: 4vw;
}
h2 {
	font-size: 3vw;
}
h3 {
	font-size: 2vw;
}




/*==============================
	Classes
==============================*/

/* Colors */
.red {
	color: red;
}
.orange {
	color: orange;
}
.yellow {
	color: yellow;
}
.green {
	color: green;
}
.blue {
	color: blue;
}

/* Font style */
.bold {
	font-weight: bolder;
}
.italic {
	font-style: italic;
}
.underline {
	text-decoration: underline;
}



/*==============================
	Responsive design
==============================*/

/* Media query : mobile */
@media (max-width: 600px) {

	/* Wrapper */
	.wrapper {
		margin: 0 0;
	}

	/* Set font */
	* {
		font-size: 12px;
	}

	/* Section */
	section {
		margin-top: 10px;
		padding: 10px 15px;
		border: solid 1px #e6e6e6;
		border-radius: 3px;
		box-shadow: 1px 1px 2px #e6e6e6aa;
		background-color: #ffffff;
	}

	/* Article */
	article, ul, ol {
		margin: 10px 0;
		padding: 10px 15px;
		border-left: solid 1px #00002211;
		border-radius: 0 3px 3px 0;
		box-shadow: 0 0 1px #bbbbcc44;
		background-color: #bbbbcc11;
	}

	/* Lists */
	ul {
	}
	li {
		margin: 5px 10px;
	}

	/* Titles */
	h1 {
		font-size: 30px;
	}
	h2 {
		font-size: 20px;
	}
	h3 {
		font-size: 15px;
	}

}



/* Media query : tablet */
@media (min-width: 600px) and (max-width: 1200px) {


}



/* Media query : laptop */
@media (min-width: 1200px) {

	/* Wrapper */
	.wrapper {
		width: 1000px;
		margin: 0 auto 0 auto;
	}

	/* Set font */
	* {
		font-size: 16px;
	}

	/* Section */
	section {
		margin-top: 20px;
		padding: 20px 50px;
		border: solid 1px #e6e6e6;
		border-radius: 3px;
		box-shadow: 1px 1px 2px #e6e6e6aa;
		background-color: #ffffff;
	}

	/* Article */
	article, ul, ol {
		margin: 20px 0;
		padding: 20px 50px;
		border-left: solid 1px #00002211;
		border-radius: 0 3px 3px 0;
		box-shadow: 0 0 1px #bbbbcc44;
		background-color: #bbbbcc11;
	}

	/* Lists */
	ul {
	}
	li {
		margin: 5px 0;
	}

	/* Titles */
	h1 {
		font-size: 40px;
	}
	h2 {
		font-size: 30px;
	}
	h3 {
		font-size: 20px;
	}

}
